* {
    min-width: 10px;
    margin: 3px;
}

.container-fluid {
    max-width: 1600px;
}

.bg-primary {
    width: 300px;
}

.search {
    background: url("../images/search.svg") no-repeat 80%;
    background-size: 20px;
}