.container-xl {
  max-width: 1310px;
}

.w-content {
  width: max-content;
}

.image-label {
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  left: 0;
}

.bg-gen-red {
  background-color: #F72210;
}

.text-gen-red {
  color: #F72210;
}

.gen-red-underline:hover {
  text-decoration-color: #F72210;
}

.hover-black:hover {
  color: #000;
}

.gen-red-hover-line-none:hover {
  color: #F72210;
  text-decoration: none;
}
/*
 fix the color of travel section
 */

 .text-black {
  color: #000;
}

header {
  min-height: 47px;
}

.nav-menu {
  max-width: 30px;
}

.header-links > * {
  font-size: 80%;
}
/* change font size on >=md */

[src*="chevron-right"] {
  width: 20px;
}

[src*="sign-chevron"] {
  width: 10px;
}

.logo img{
  width: 137px;
}

.search-container {
  width: 200px;
}

.search {
  background: url("../images/search.svg") no-repeat 80%;
  background-size: 20px;
}

.section-heading {
  color: #aaa;
  font-size: 95%;
}

.small {
  font-size: 13px;
}

.grey {
  color: rgb(51, 51, 51);
}

.light-grey {
  color: rgba(39, 39, 39, 0.5);
}

.more-stories img{
  width: 33%;
}

.opinion div {
  flex-basis: 72%;
}

.bg-grey {
  background: rgb(244, 245, 247);
}

.label {
  background-color: #c2d4d7;
}

.sponsored-insight .image-label{
  color: rgb(53, 129, 244);
}

.sponsored-insight + .info {
  border-color: rgb(230, 230, 230);
  margin-bottom: 30px;
}

.n-logo {
  background: url("../images/n-logo.svg") center/contain no-repeat #f72210;
  height: 27px;
  width: 27px;
}

[src*="black-chevron"] {
  width: 10px;
}

.issue-20 {
  font-size: 16px;
}

.articles-section div h5 {
  padding-bottom: 7px;
}

.slides .n-logo {
  width: 34px;
  height: 33px;
  border: 1px solid #fff;
  box-shadow: 3px 3px #F72210;
}

.slides div h5 {
  padding-bottom: 0;
  margin-bottom: 3px;
}

.slides article {
  padding-bottom: 40px;
}

.slides article p {
  background: url("../images/slides.png") center/contain no-repeat;
  width: 70px;
  height: 52px;
  left: -3px;
  font-size: 23px;
  padding-left: 27px;
  padding-top: 13px;
}
