.container-fluid {
  max-width: 1600px;
}

header {
  background-color: #F72210;
}

.logo img{
  width: 150px;
}

.search-container {
  width: 200px;
}

.search {
  background: url("../images/search.svg") no-repeat 80%;
  background-size: 20px;
}